*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    display: flex;
    background-color:rgb(17, 206, 240);
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    font-family:'Times New Roman', Times, serif;
}

.container 
{
position:relative;
display:grid;
grid-template-columns: 30% 70%;
width:100%;
max-width: 1000px;
min-height: 900px;
background-color:white;
box-shadow: 0 35px 55px rgb(77, 72, 72);
margin: 50px;
}
.left-side
{
   position: relative;
    background-color: rgb(163, 163, 168);
    padding: 40px;
    color:white ;
    font-weight: 600;
    text-transform: capitalize;
    
}
.profiletext
{
  position: relative; 
  display: flex; 
  flex-direction: column;
  align-self: center;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(88, 82, 82);
}
.profiletext .imgbx
{
    position:relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}
.profiletext .imgbx img
{
position:absolute;
top:0;
left:0px;
width: 100%;
height: 100%;
object-fit:fill;
}
.profiletext h2
{
    text-align: center;
    font-size:1.5em;
    color:white;
    padding-bottom: 20px;
    
}
.profiletext h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactinfo
{
    padding-top: 40px;
}
.title{
   font-size:1.3em ;
   color:white;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 20px; 
}
.contactinfo ul
{
   position: relative; 
}
.contactinfo ul li{
    position: relative;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
    text-transform: lowercase;
}
.contactinfo ul li .icon
{
    display: inline-block;
    margin:10px;
    color:rgb(12, 97, 122);

}
.contactinfo ul li .text
{
 color:white; 
 font-weight: 300;

}
.container .right-side
{
    position:relative;
    background-color:white ;
    padding: 40px;
}
.skills{
    padding-top:40px;
}

.skills ul
{
    position: relative;
}
.skills ul li
{
    position: relative;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
    color: white;
    font-weight: 300;
}

.right-side
{
    position: relative;
    background-color: white;
    padding:40px;
}
.education h2
{
    padding:10px;    
    color: black;
    background-color:rgba(130, 247, 202, 0.76); 
    font-family: 'Times New Roman', Times, serif;

}
.education h3
{
    color:rgb(5, 5, 80);
    letter-spacing: 1px;
    font-weight: 500;
}
.education li{
    margin-bottom: 20px;
    list-style-type: none;
}
.education h4{
    margin-top: 10px;
    color: rgb(21, 51, 182);
    font-weight: 300;
    text-transform: capitalize;

}
.education h4:nth-child(1){
    color: black;
    font-weight: 500; 
}
.education ul{
    padding-top: 20px;
}
.hobbies h2
{
    padding:10px;    
    color: black;
    background-color: rgba(130, 247, 202, 0.76);
    font-family: 'Times New Roman', Times, serif;
}
.hobbies ul
{
   position: relative; 
}
.hobbies ul li{
    position: relative;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
    text-transform: lowercase;
}
.hobbies ul li .text
{
 color:rgb(12, 21, 150); 
 font-weight: 300;
 text-transform: capitalize;

}